body {
    background-color: #f8f9fa; /* Világos háttér */
    color: #343a40;
  }

  .navbar {
    background-color: #ffffff; /* Fehér háttér a navbarhoz */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Finom árnyék az navbar alatt */
  }

  .navbar-nav {
    width: 100%;
    justify-content: center; /* Középre igazítja a navbar elemeit */
  }

  .nav-link {
    color: #343a40 !important;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
  }

  /* Aláhúzás animáció */
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #007bff;
    bottom: 0;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
  }

  .nav-link:hover {
    color: #007bff !important;
    transform: scale(1.1); /* Növeli a méretet hovereléskor */
  }

  /* Aláhúzás animáció */
  .nav-link.active::after {
    width: 100%;
    left: 0;
  }

  .table {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
  }

  .table th, .table td {
    vertical-align: middle;
  }

  .table th {
    background-color: #007bff;
    color: white;
    text-align: center;
  }

  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
  }

  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
  }

  .btn-secondary {
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .btn-secondary:hover {
    background-color: #007bff;
    color: white;
  }

  .btn-group button {
    margin-right: 5px;
  }

  .table tr {
    transition: all 0.3s ease;
  }

  .table tr:hover {
    background-color: #f1f1f1;
  }

  /* Add padding to the table cells for better spacing */
  .table td {
    padding: 15px;
  }

  .table th {
    padding: 15px;
  }
  
  