body {
    background-image: url('../img/hatterkep.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    min-width: 320px;
    max-width: 33%;
    width: 100%;
    text-align: center;
}

h3 {
    margin-top: 12px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
}

.inputMezo {
    margin-bottom: 15px;
}

.input-group-text {
    padding: 10px;
}

.input-group-text img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.login-kep {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    padding: 15px;
    font-size: 18px;
}

.btn-primary {
    width: 50%;
    margin-top: 16px;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    background-color: #262d3f;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(37, 218, 165);
}

.btn-outline-secondary {
    font-size: 15px;
    padding: 10px;
}

.eloszor-jar {
    font-size: 16px;
    margin-top: 15px;
}

.jelszo-felejt {
    font-size: 18px;
    color: #6c757d;
}

.nem-robot {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.required-icon {
    position: relative;
}

.required-icon::after {
    content: "*";
    color: red;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: large;
    font-weight: bold;
}

.caps-lock-icon {
    display: none;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    z-index: 10;
    pointer-events: none;
    opacity: 0.8;
}