html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
}

a:link{
    text-decoration: none;
}