.original-price {
    text-decoration: line-through;
    color: red;
}

.discounted-price {
    color: #22ff26;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.empty-order-wrapper {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}